<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Post a new message:</h1>
        <h3 style="font-style: italic"> as <%= currentUser.firstname %> <%= currentUser.lastname %> </h3>
    <form action="/post" method="POST">
        <p>
            <label for="Header">Header: </label>
            <p><input id="header" name="header" type="text" /></p>
        </p>

        <p>
            <label for="Body">Body:</label>
            <p><input id="body" name="body" type="text" /></p>
        </p>
        <p>
            <button type ="submit">Post</button>
        </p>
    </form>
</body>
</html>